@media screen and (max-width: 1100px)
{
    /* NAVBAR */
    ul > li > a{
        margin: 0 30px;
    }
}

@media screen and (max-width: 1002px)
{
    /* HOME */
    .traitH2{
        display: none;
    }
}    

@media screen and (max-width: 991px)
{
    /* NAVBAR */
    .logoRS{
        margin: 20px 0;
    }
    ul > li > a{
        border-bottom: 0px;
    }
    ul > li > a:hover{
        opacity: 1;
        color: #C5853C!important;
        border-bottom: 0px;
    }
    .navActiv{
        border-bottom: 0px;
    }
    .pictNicolas{
        height: 70%;
        left: 5%;
    }
    .textQuiRight > .menu-icon{
	transform: translateY(-140px)!important;
    }

    .headCard{
        flex-direction: column;
    }
    .pictUser{
        margin: 0 auto 20px 0!important;
    }
    .presUser{
        text-align: center;
    }
    .textCard{
        font-size: .9em;
        line-height: 1.5em;
    }
    .cardAvis{
        padding: 30px;
    }
}
@media screen and (max-width: 767px)
{
    /* CROQUIS */
    .croquis1{
        width: 100%;
    }
    .croquis2{
        width: 100%;
    }
    .croquis3{
        width: 100%;
    }

    /* Texte page d'accueil */
    .investissementMedias{
        flex-direction: column-reverse;
    }

    .pictNicolas{
        width: 250px;
        height: auto;
        top: 20%;
        left: 5%;
    }
    .textQuiRight > .menu-icon{
        margin: 0 auto;
        transform: translateY(-250px)!important;
    }
    .textQuiRight > .menu-icon.isOpened{
        opacity: .3;
    }
    .logoFooter{
        width: 100px;
    }
    footer > div > div > p{
        font-size: .8em;
        margin-top: 20px;
    }
}