*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    scroll-behavior: smooth;
}

/* FONT */

@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');

/*
font-family: 'Roboto', sans-serif;
*/

.backFonduFooter{
    width: 100vw;
    height: 100px;
    color: red;
    background: linear-gradient(#FAFAFA, #FFF);
}
.croquisFooter{
    width: 44%;
}
.logoFooter{
    text-align: center;
    width: 150px;
}
.footerOrga{
    display: flex;
    align-items: center;
}